/WebAuction/nbproject/private/
/WebAuction/WebAuction-war/nbproject/private/
/WebAuction/WebAuction-ejb/nbproject/private/
/WebAuction/WebAuction-war/build/
/WebAuction/WebAuction-ejb/dist/
/WebAuction/WebAuction-ejb/build/