/WebAuction/nbproject/private/
/WebAuction/WebAuction-war/nbproject/private/
/WebAuction/WebAuction-ejb/nbproject/private/
/WebAuction/WebAuction-war/build/
/WebAuction/WebAuction-ejb/dist/
/WebAuction/WebAuction-ejb/build/
/WebAuction/build/
/WebAuction/dist/
/WebAuction/WebAuction-war/dist/
/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/WebApplication1/nbproject/private/